<div class="container-fluid">
    <div class="row">
        <img src="images/kensplanet.com.png" class="img-responsive center-block"/>
    </div>

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <ul class="nav navbar-nav">
                    <li><a><i class="fa fa-home" aria-hidden="true"></i> Store</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <ul class="nav navbar-nav">
                    <li><a><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <ul class="nav navbar-nav">
                    <li><a><i class="fa fa-search" aria-hidden="true"></i> View Order</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>